.tools {
    width: 100%;
    padding: 150px 90px 150px 111px;
    @media (max-width: 1024px) {
        padding:150px 50px;
    }
    @media (max-width: 840px) {
        padding: 150px 20px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 90px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;

        h2 {
            font-size: 48px;
            font-weight: 500;
            line-height: 62.4px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #FFFFFFE5;
            @media (max-width: 500px) {
                font-size: 40px;
                line-height: 40px;
            }
        }

        p {
            width: 60%;
            font-size: 18px;
            font-weight: 500;
            line-height: 30px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #FFFFFF8C;
            @media (max-width: 710px) {
                width: 80%;
            }
        }
    }

    &__cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1.2fr));
        gap: 30px;
        justify-items: center;
        margin-bottom: 50px;
    }

    button {
        padding: 17px 38px;
        border: 1px solid #FFFFFF1A;
        background-color: transparent;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #FF6E30;
        transition: all 0.3s ease;

        &:hover {
            background-color: #FFFFFF1A;
            color: #ff4d00;
        }
    }
}