.carousel {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    @media (max-width: 450px) {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carousel__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;

        img {
            padding: 10px;
            cursor: pointer;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            transition: all 0.3s ease;
            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }

        .user {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 40px;
            @media (max-width: 730px) { 
                flex-direction: column;
            }
            

            .user__img {
                position: relative;
                margin-right: 20px;

                .back {
                    position: absolute;
                    bottom: 10%;
                    left: 0%;
                    width: 100%;
                    height: 70%;
                    background-color: rgba(0, 0, 0, 0.1);
                    border-radius: 50%;
                    z-index: -1;
                }

                img {
                    width: 300px;
                    height: auto;
                    border-radius: 50%;
                }

                .user__img__text {
                    border-radius: 8px;
                    padding: 10px;
                    width: 90%;
                    position: absolute;
                    bottom: -2%;
                    left: 70%;
                    transform: translate(-50%, -50%);
                    background-color: #283036;
                    display: flex;
                    flex-direction: column;
                    backdrop-filter: blur(50px);


                    strong {
                        font-size: 22px;
                        font-weight: 500;
                        line-height: 30px;
                        letter-spacing: 0.015em;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: #FFFDFDC7;
                    }

                    p {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        color: #FFFDFD8C;
                    }
                }
            }

            .user__text {
                position: relative;
                max-width: 500px;

                img {
                    position: absolute;
                    top: -30%;
                    left: 0;
                    width: 100px;
                    height: auto;
                }

                p {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0.015em;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #FFFFFFC7;
                }
            }
        }
    }

    .carousel__line {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        div {
            width: 30px;
            height: 5px;
            border-radius: 5px;
            margin: 0 5px;
            background-color: #283036;
            transition: background-color 0.3s ease;
            cursor: pointer;
        }

        .active {
            background-color: #FF6E30;
        }
    }
}