.hero {
    width: 100%;
    padding: 50px 0 0 100px;

    .container {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 40px;
    }

    &__content {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: calc(100% / 2 - 40px);

        h1 {
            font-size: 50px;
            font-weight: 500;
            line-height: 70px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #FFFFFFE5;

            span {
                color: #FF6E30;
            }
        }

        p {
            width: 80%;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #FFFFFF8C;
        }

       
        &__img {
           margin-top: 100px;
            display: flex;
            align-items: end;
            gap: 15px;
            a {
                img {
                    width: 36px;
                    height: 36px;
                }
            }
        }
    }

    &__img {
        width: calc(100% / 2 - 40px);

        img {
            width: 100%;
            height: 100%;
        }
    }
}