header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 26px 90px 26px 111px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFFE5;
}

img {
    width: 38px;
    height: 38px;
}

.links {
    display: flex;
    align-items: center;
    gap: 30px;
}
@media (max-width: 1000px) {
    .links {
        display: none;
    }    
}

.links a {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF8C;
    transition: all 0.3s ease;
}

.links a:hover {
    color: #FFFFFFE5;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    padding: 8px 16px;
    color: #FFFFFF8C;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropbtn:hover {
    color: #FFFFFFE5;
}

.arrow {
    width: 20px;
    height: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    border-radius: 5px;
    background-color: #36424c;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content a {
    font-size: 16px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-in-out;
}

.dropdown-content a:hover {
    background-color: rgba(35, 41, 46, 0.815);
}
.register {
    display: flex;
    align-items: center;
    gap: 40px;
}
@media (max-width: 1000px) {
    .register {
        display: none;
    }
}

.login {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFFC7;
    transition: all 0.3s ease;
    background-color: transparent;
}

.login::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FF6E30;
    transition: width 0.3s ease;
}

.login:hover::after {
    width: 100%;
}

.login:hover {
    color: #FFFFFFE5;
}

.signup {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FDF5FF;
    transition: all 0.3s ease;
    background-color: #FF6E30;
    padding: 8px 16px;
    border-radius: 8px;
}

.signup:hover {
    background-color: #fc5d19;
}

.menu {
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #2c343c;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
    border: 1px solid #FFFFFF1A;
}
@media (max-width: 1000px) {
    header {
        padding: 20px 40px;
    }
    .menu {
        display: flex;
    }
}
.menu:hover {
    background-color: #FFFFFF1A;
}
.mobile_links {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: #2c343c;
    z-index: 9999;
    transform: translateX(100%);
    transition: all 0.3s ease;
    padding: 50px 0;
    box-shadow: 0px 8px 100px 0px rgba(0, 0, 0, 0.249);
}
@media (min-width: 1000px) {
    .mobile_links { 
        display: none;
    }
}
@media (max-width: 700px) {
    header {
        padding: 20px;
    }
    .mobile_links {
        width: 45%;
    }
}
@media (max-width: 520px) {
    .mobile_links {
        width: 100%;
    }
}
.mobile_links.show {    
    transform: translateX(0);
}

.mobile_links .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.mobile_links .register {
    margin-top: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffffc7;
    transition: all 0.3s ease;
    background-color: #FF6E30 ;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.mobile_links .register:hover {
    background-color: #fc5d19;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}